{% extends 'base.html' %}
{% block title %}{{ beneficiary.nome }}{% endblock %}

 {% block extra_head %}
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    
 
 {% endblock %}

 {%block content%}
 
<section class="w-full mt-20">
    <div class="mb-8">
        <h2 class="text-3xl font-bold text-gray-800 ">Detalhes do Beneficiário</h2>
        <p class="mt-1 text-sm text-gray-600 ">Vizualize e gerencia informações do beneficiário</p>
    </div>
    <div class="rounded-lg border border-gray-200  bg-white  shadow-sm">
        <div class="p-6">
            <h3 class="text-lg font-semibold text-gray-800  mb-4">Infomação Pessoal</h3>
            <dl class="grid grid-cols-3 grid-rows-6 gap-x-4 gap-y-6 ">
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500 ">Nome completo</dt>
                    <dd class="mt-1 text-sm text-gray-900 ">{{ beneficiary.beneficiary_name }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500 ">Data do Registro</dt>
                    <dd class="mt-1 text-sm text-gray-900 ">{{ beneficiary.created_at }}</dd>
                </div>
                 <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500 ">Rua</dt>
                    <dd class="mt-1 text-sm text-gray-900 ">{{ beneficiary.street }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500 ">CPF</dt>
                    <dd class="mt-1 text-sm text-gray-900 0">{{ beneficiary.cpf }}</dd>
                </div>                
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500 ">Status</dt>
                    <dd
                        class="mt-1 inline-flex items-center rounded-full bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 ">{{ beneficiary.status }}</dd>
                </div>
                 <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500 ">Nº Casa</dt>
                    <dd class="mt-1 text-sm text-gray-900 ">{{ beneficiary.address_number }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500 ">Email</dt>
                    <dd class="mt-1 text-sm text-gray-900 ">{{ beneficiary.email }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500 ">Tamanho da Família</dt>
                    <dd class="mt-1 text-sm text-gray-900 ">{{ beneficiary.household_members }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500 ">Complemento</dt>
                    <dd class="mt-1 text-sm text-gray-900 ">{{ beneficiary.address_complement }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500 ">Telefone</dt>
                    <dd class="mt-1 text-sm text-gray-900 ">{{ beneficiary.phone }}</dd>
                </div>
                  <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500 ">Nº de Dependentes</dt>
                    <dd class="mt-1 text-sm text-gray-900 ">{{ beneficiary.dependents_count }}</dd>
                </div>
                 <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500 ">UF</dt>
                    <dd class="mt-1 text-sm text-gray-900 ">{{ beneficiary.state }}</dd>
                </div>   
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500 ">Data de Nascimento</dt>
                    <dd class="mt-1 text-sm text-gray-900 ">{{ beneficiary.birth_date }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500 ">Renda Familiar</dt>
                    <dd class="mt-1 text-sm text-gray-900 ">R$: {{ beneficiary.family_income }}</dd>
                </div>
                 <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500 ">Cidade</dt>
                    <dd class="mt-1 text-sm text-gray-900 ">{{ beneficiary.city }}</dd>
                </div> 
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500 ">Profissão</dt>
                    <dd class="mt-1 text-sm text-gray-900 ">{{ beneficiary.occupation }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500 ">CEP</dt>
                    <dd class="mt-1 text-sm text-gray-900 0">{{ beneficiary.zip_code }}</dd>
                </div>   
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500 ">Bairro</dt>
                    <dd class="mt-1 text-sm text-gray-900 ">{{ beneficiary.neighborhood }}</dd>
                </div>  
                   
            </dl>
        </div>
        <div class="flex flex-col gap-4 border-t border-gray-200  bg-primary  p-6 sm:flex-row sm:justify-between sm:items-center">
            <div class="flex gap-3">
                <button
                    class="inline-flex items-center justify-center rounded  px-4 py-2 text-sm font-medium bg-blue-button/20 text-blue-button hover:bg-blue-button/30 ">
                    <a href="{% url 'beneficiaries:editar_beneficiario' beneficiary.id_beneficiary %}">Editar Beneficiário
                </button>
                <button
                    class="inline-flex items-center justify-center rounded bg-red-100  px-4 py-2 text-sm font-medium text-red-600  hover:bg-red-200  " onclick="deletar(`{{beneficiary.id_beneficiary}}`)">Deletar Beneficiário
                </button>
            </div>
            <button
                class="inline-flex items-center justify-center rounded bg-blue-button px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-button/90">Registrar
                Doação</button>
        </div>
    </div>
</section>
 
 
 
 
 {%endblock%}

 {% block extra_js%}
 <script>
    const deletar = async(id)=>{
        {{beneficiary.beneficiary_name}}

        const confirmacao = confirm(`Deseja mesmo excluir {{beneficiary.beneficiary_name}}`)

        if(!confirmacao){
            return ;
        }
    

        await fetch(`/beneficiaries/delete/${id}/`,{
        method : 'POST',
        headers :{

            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json',
        },
        
        })
        window.location.replace("{% url 'beneficiaries:Beneficiarios'  %}");
    }

 </script>
  
 
 {% endblock %}