{% extends 'base.html' %}
{% block title %}{{ Estoque}}{% endblock %}


 {% block extra_head %}
    
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />  
 
 {% endblock %}


 {% block content %}

<section class="w-[80%] mt-20 p-8">
    <div class="mb-10 flex items-center justify-between">
        <div>
            <h2 class="text-3xl font-bold text-zinc-900 ">
            Gestão de Estoque
            </h2>
            <p class="text-zinc-600 ">
            Registre entrada de cesta básica.
            </p>
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 items-start mt ">
        <div class="md:col-span-2 ">
            <form action="{% url 'stock:aplicar_entradas' 1 %}" method="post">
                {% csrf_token %}

                <div class="bg-secondary  p-6  rounded-xl border border-border-light /20 space-y-6">


                
                    <div>
                        <label for="{{ form.supplier_fk.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">
                            {{ form.supplier_fk.label }}
                        </label>
                        {{ form.supplier_fk }}
                        {% if form.supplier_fk.errors %}
                        <p class="mt-1 text-sm text-red-600">{{ form.supplier_fk.errors.0 }}</p>
                        {% endif %}
                    </div>
                    
                    <div>
                        <label for="{{ form.quantity.id_for_label }}" class="block text-sm font-medium text-foreground-light  mb-1">
                            {{ form.quantity.label }}
                        </label>
                        {{ form.quantity }}
                        <p class="block text-sm font-medium text-foreground-light  mb-1">{{ form.quantity.help_text }}</p>

                        {% if form.quantity.errors %}
                        <p class="mt-1 text-sm text-red-600">{{ form.quantity.errors.0 }}</p>
                        {% endif %}
                    </div>                    


                    <button
                        class="w-full bg-blue-button text-white font-bold py-3 px-4 rounded-lg hover:bg-blue-button/90 transition-colors text-lg"
                        type="submit">
                        Registrar Entrada
                    </button>
                </div>
            </form>




        </div>
        <div class="md:col-span-1">
            <aside
                class="bg-white  p-6 rounded-xl border border-border-light /20 text-center">
                <h2 class="text-lg font-medium text-foreground-light/80 /80 mb-2">Total de
                    Cestas em Estoque</h2>
                <p class="text-6xl font-bold text-blue-button ">{{available_stock_count}}</p>
            </aside>
        </div>
    </div>
</section>







{% endblock %}
