{% extends 'base.html' %}
{% block title %}{{ Beneficiários }}{% endblock %}


 {% block extra_head %}
    
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />  
 
 {% endblock %}
 {% block content %}

 
<section class="w-full mt-20 px-4 py-8 sm:px-6 lg:px-8">
    <div class="mb-8">
        <h1 class="text-3xl font-bold tracking-tight text-slate-900 ">Histórico de Doações</h1>
        <p class="mt-2 text-slate-600 ">Visualizar e filtrar todas as doações feitas aos beneficiários</p>
    </div>
    <div class="space-y-6">
        <div class="flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-between">
            <div class="relative flex-1">
                <span
                    class="material-symbols-outlined pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-slate-500 ">
                    search </span>
                <input
                    class="h-12 w-full rounded-lg border border-slate-300 bg-white pl-10 pr-4 text-slate-900 shadow-sm focus:border-primary focus:outline-none focus:ring-1 focus:ring-primary  "
                    placeholder="Pesquisar pelo nome do beneficiário" value="" />
            </div>
            <div class="flex flex-wrap items-center gap-2">
                <button
                    class="inline-flex h-10 items-center justify-center gap-x-2 rounded-lg bg-white px-4 text-sm font-medium text-slate-700 shadow-sm ring-1 ring-inset ring-slate-300 hover:bg-slate-50    ">
                    Beneficiário
                    <span class="material-symbols-outlined text-base"> expand_more </span>
                </button>
                <button
                    class="inline-flex h-10 items-center justify-center gap-x-2 rounded-lg bg-white px-4 text-sm font-medium text-slate-700 shadow-sm ring-1 ring-inset ring-slate-300 hover:bg-slate-50    ">
                    Data
                    <span class="material-symbols-outlined text-base"> expand_more </span>
                </button>
                <button
                    class="inline-flex h-10 items-center justify-center gap-x-2 rounded-lg bg-white px-4 text-sm font-medium text-slate-700 shadow-sm ring-1 ring-inset ring-slate-300 hover:bg-slate-50    ">
                    Status
                    <span class="material-symbols-outlined text-base"> expand_more </span>
                </button>
            </div>
        </div>
        <div
            class="overflow-x-auto rounded-lg border border-slate-200 bg-white shadow-sm  ">
            <table class="min-w-full divide-y divide-slate-200 ">
                <thead class="bg-slate-50 /50">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-slate-500 "
                            scope="col">Beneficiário</th>
                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-slate-500 "
                            scope="col">CPF</th>
                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-slate-500 "
                            scope="col">Data/Registro</th>
                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-slate-500 "
                            scope="col">Código da Doação</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-slate-200 ">
                    {%if donations %}
                    {%for donation in donations %}
                    <tr>
                        <td class="whitespace-nowrap px-6 py-4 text-sm font-medium text-slate-900 "><a href="{% url 'donations:Detalhes doação' donation.id_donation %} ">{{ donation.beneficiary_fk.beneficiary_name }}</a></td>
                        <td class="whitespace-nowrap px-6 py-4 text-sm text-slate-600 "><a href="{% url 'donations:Detalhes doação' donation.id_donation %} ">{{ donation.beneficiary_fk.cpf }}</a></td>
                        <td class="whitespace-nowrap px-6 py-4 text-sm text-slate-600 "><a href="{% url 'donations:Detalhes doação' donation.id_donation %} ">{{ donation.donation_date }}</a></td>
                        <td class="whitespace-nowrap px-6 py-4 text-sm text-slate-600 "><a href="{% url 'donations:Detalhes doação' donation.id_donation %} ">{{ donation.id_donation }}</a></td>
                    </tr>
                   {% endfor %}

                    {% else %}
                         <div class="alert alert-info">
                          <p>Nenhum beneficiário cadastrado ainda.</p>
                        </div>
                    {%endif%}
                
                    
                </tbody>
            </table>
        </div>
    </div>
</section>









{% endblock %}
