{% extends 'base.html' %}
{% block title %}{{ Doações }}{% endblock %}


 {% block extra_head %}
    
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />  
 
 {% endblock %}

 {% block content %}



<section class="w-full mt-20">
        <div class="mb-8 flex items-center justify-between">
            <div>
                <h2 class="text-3xl font-bold text-zinc-900 ">
                    Histórico de Doações
                </h2>
                <p class="text-zinc-600 ">
                    Visualizar e filtrar todas as doações feitas aos beneficiários     
                </p>
            </div>
            <button
                class="rounded-lg bg-blue-button px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-button/90 focus:outline-none focus:ring-4 focus:ring-blue-button/50">
               <a href=""> Cadastrar nova doação</a>
            </button>
        </div>
        <div class="rounded-lg border border-zinc-200 bg-white shadow-sm ">
            <div class="flex items-center justify-between border-b border-zinc-200 p-4 ">
                <div class="relative w-full max-w-md">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                        <span class="material-symbols-outlined text-zinc-400">search</span>
                    </div>
                    <input
                        class="form-input w-full rounded-lg border-zinc-300 bg-primary py-2 pl-10 pr-4 text-zinc-900 placeholder-zinc-400 focus:border-blue-button focus:ring-blue-button "
                        id="search" placeholder="Buscar pelo nome ou ou CPF do Beneficiário" type="text" />
                </div>

            </div>

            <!-- lista de Fornecedores -->
            <div class="overflow-x-auto">
                <table class="w-full text-left text-sm text-zinc-500 ">
                    <thead class="bg-zinc-50 text-xs uppercase text-zinc-700  ">
                        <tr class=" text-center">
                            <th class="px-6 py-3 text-left" scope="col ">Nome do beneficiário</th>
                            <th class="px-6 py-3 " scope="col ">CPF</th>
                            <th class="px-6 py-3" scope="col ">Data/Registro</th>
                            <th class="px-6 py-3" scope="col ">Código da Doação</th>
                            <th class="px-6 py-3" scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if donations %}

                        {%for donation in donations%}
                        <tr class="border-b border-border-light bg-white hover:bg-zinc-50 text-center ">
                            <th class="whitespace-nowrap px-6 py-4 font-medium text-zinc-900 text-left" scope="row"><a href="{% url 'donations:detalhes_doação' donation.id_donation %} ">{{donation.beneficiary_fk.beneficiary_name}}</a></th>
                            <td class="px-6 py-4">{{donation.beneficiary_fk.cpf}}</td>
                            <td class="px-6 py-4">{{donation.donation_date}}</td>
                            <td class="px-6 py-4">{{donation.id_donation}}</td>
                            <td class="px-6 py-4 text-center">
                                <button
                                    class="rounded-md bg-blue-button/25 px-3 py-1.5 text-sm font-medium text-blue-buttonlight hover:bg-zinc-200 ">Editar</button>
                                <!-- <button
                                    class="ml-2 rounded-md bg-red-100 px-3 py-1.5 text-sm font-medium text-red-700 hover:bg-red-200 " onclick="deletar('{{ supplier.id_supplier }}')">Excluir</button> -->
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <div class="alert alert-info">
                            <p class="ml-4">Nenhum Beneficiario elegível no momento.</p>
                        </div> 
                        {%endif%}
                    </tbody>
                </table>
            </div>
        </div>
    </section>


{% endblock %}

{% block extra_js %}

<script>
    const searchInput = document.getElementById('search');
    searchInput.addEventListener('input', function() {
        const query = searchInput.value.toLowerCase();
        const rows = document.querySelectorAll('table tbody tr');

        rows.forEach(row => {
            const beneficiaryName = row.cells[0].innerText.toLowerCase();
            const cpf = row.cells[1].innerText.toLowerCase();

            if (beneficiaryName.includes(query) || cpf.includes(query)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });

    // const deletar = async (id) => {
    //         const confirmacao = confirm("Tem certeza que deseja excluir esta doação?");
    //         if (!confirmacao) {
    //             return;
    //         }

    //         // enviar o nome do beneficiário para o backend para exclusão
    //         await fetch(`/donations/${id}/`, {
    //             method: 'POST',
    //             headers: {
    //                 'X-CSRFToken': '{{ csrf_token }}',
    //                 'Content-Type': 'application/json',
    //             },
    //         })
    //         // Reload na página após exclusão para atualizar a lista
    //         window.location.reload();
    //     }



    // Filtar por status, data, etc. pode ser adicionado aqui

</script>

{% endblock %}
